<form action="" class="form-row">
  <div class="form-group col-md-2" >
    <label for="nombre" class="sr-only">Nombre:</label>
    <input
    class="form-control"
    name="nombre" id="nombre"
    placeholder="Nombre"
    type="text"
    #nombreRef
    />
  </div>
  <div class="form-group col-md-2" >
    <label for="apellido" class="sr-only">Apellido:</label>
    <input
    class="form-control"
    name="apellido" id="apellido"
    placeholder="Apellido"
    type="text"
    #apellidoRef
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary"
    (click)='agregarPersona(nombreRef,apellidoRef)'>Agregar</button>
  </div>
</form>
