<!-- acá se arma el html y se usan propiedades entre 2 llaves {{}} -->
<section>
  <div>{{ title }} está ejecutandose</div>
  <p>{{ texto }}</p>
  <div>
    <h1> Bienvenido: {{ tituloPersona }}</h1>
    <!-- selector para poder usar el nuevo componente: -->
    <app-personas></app-personas>
    <br/><br/><br/>
    <app-directiva-ng-if></app-directiva-ng-if>
    <br/><br/><br/>
    <app-ng-for></app-ng-for>
  </div>
</section>
<section>
  <div class="container">
    <app-personas-padre></app-personas-padre>
  </div>
</section>
