<hr>
<h1>Listado de personas: envio de props en componente padre a hijo</h1>
<hr>

<form action="" class="form-row">
    <div class="form-group col-md-2" >
      <label for="nombre" class="sr-only">Nombre:</label>
      <input
      class="form-control"
      name="nombre" id="nombre"
      placeholder="Nombre"
      type="text"
      [(ngModel)]='nombreInput'/>
    </div>
    <div class="form-group col-md-2" >
      <label for="apellido" class="sr-only">Apellido:</label>
      <input
      class="form-control"
      name="apellido" id="apellido"
      placeholder="Apellido"
      type="text"
      [(ngModel)]='apellidoInput'/>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary"
      (click)='agregarPersona()'>Agregar</button>
    </div>
  </form>
  <hr/>
  <br/><br/>
  <!-- con el binding mandamos la info al componente hijo:
  entre los corchetes la variable a la que enviamos info
y entre comillas la info que enviamos  -->
  <app-persona
   *ngFor='let personaElemento of personas; let i =index'
   [persona] = 'personaElemento'
   [indice] = 'i'
  >

  </app-persona>
