<hr>
<h1>Listado de personas: envio de props en componente padre a hijo</h1>
<hr>
<!-- así recibimos la prop del componente hijo,
   acá estamos en el componente padre -->
<app-formulario-hijo
 (personaCreada)='personaAgregada($event)'
></app-formulario-hijo>
  <hr/>
  <br/><br/>
  <!-- con el binding mandamos la info al componente hijo:
  entre los corchetes la variable a la que enviamos info
y entre comillas la info que enviamos  -->
  <app-persona
   *ngFor='let personaElemento of personas; let i =index'
   [persona] = 'personaElemento'
   [indice] = 'i'
  >

  </app-persona>
